/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.nopadding {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.navbar-brand {
  margin-top: -10px;
}

.asamblea {
  background-image: url('../images/asamblea.jpg') ;
  background-size: 100% auto;
  background-repeat: repeat-y;
  color: #FFFFFF;
}

.cover {
   color: #fff;
   background: rgba(0, 0, 0, 0.6);
}

.morado {
  background-color: #612d62;
  color: #FFF;
}

.gris{
  background-color: #2C2F36;
  color: #60676F;
}

.gris > p{
  color: #60676F;
}

.mini-txt{
  font-size: 1.4em;
  color: #EAEAEA;
  line-height: 1.4em;
}