<div class="jumbotron">
  <div class="page-header">
    <h1>Bienvenido a Volem Foios</h1>
  </div>
  <div class="media">
    <span class="media-left">
      <img src="images/logo.jpg"/>
    </span>
    <span class="media-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa ligula. Etiam vitae augue dictum, pellentesque erat et, rhoncus augue. Donec a ipsum et enim ultrices elementum at malesuada dolor. Cras ligula orci, condimentum et molestie molestie, auctor sit amet tellus. Donec convallis aliquam ipsum congue posuere. Pellentesque ullamcorper tempus velit, id condimentum tortor porttitor non. Suspendisse venenatis tortor a ultricies convallis.</p>
    </span>
  </div>
</div>
