<div class="row" ng-controller="WelcomeController">
  <div class="col-xs-12 col-sm-8">
    <div class="asamblea">
      <div class="cover">
        <div class="row">
          <span class="col-xs-8 col-sm-8">
            <p class="mini-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa ligula. Etiam vitae augue dictum, pellentesque erat et, rhoncus augue. Donec a ipsum et enim ultrices elementum at malesuada dolor. Cras ligula orci, condimentum et molestie molestie, auctor sit amet tellus. Donec convallis aliquam ipsum congue posuere. Pellentesque ullamcorper tempus velit, id condimentum tortor porttitor non.</p>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="images/logo_med.png" class="img-responsive"/>
          </div>
          <div class="panel-footer">
            <a href="#/programa">Nuestro programa</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="images/logo_med.png" class="img-responsive"/>
          </div>
          <div class="panel-footer">
            <a href="#/compromisos">Nuestros compromisos</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="images/logo_med.png" class="img-responsive"/>
          </div>
          <div class="panel-footer">
            <a href="#/candidatos">Nuestros candidatos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="col-xs-12 col-sm-4">
    <a class="twitter-timeline" href="https://twitter.com/volemFoios" data-widget-id="589481096666075136">Tweets de @volemFoios.</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
