<div class="row" ng-controller="WelcomeController">
  <div class="panel col-xs-12 col-sm-8">
    <div>
      <div class="row">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img src="images/slide-01.jpg" alt="" class="img-rounded img-responsive">
              <div class="carousel-caption">
                <h1>VOLEM FOIOS</h1>
                <h1>Junts Empoderats Fem Poble</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <a href="#/programa">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="images/logo_med.png" class="img-responsive"/>
            </div>
            <div class="panel-footer">
              <p class="text-center">Nuestro Programa</p>
            </div>
        </div>
        </a>
      </div>
      <div class="col-sm-4 col-xs-4">
        <a href="#/compromisos">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="images/logo_med.png" class="img-responsive"/>
            </div>
            <div class="panel-footer">
              <p class="text-center">21 Compromisos</p>
            </div>
        </div>
        </a>
      </div>
      <div class="col-sm-4 col-xs-4">
        <a href="#/quienes">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="images/logo_med.png" class="img-responsive"/>
            </div>
            <div class="panel-footer">
              <p class="text-center">Nuestros Candidatos</p>
            </div>
        </div>
        </a>
      </div>
    </div>
  </div>
   <div class="col-xs-12 col-sm-4">
    <a class="twitter-timeline" href="https://twitter.com/volemFoios" data-widget-id="589481096666075136">Tweets de @volemFoios.</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
