<div class="candidato">
  <h1 class="page-header">{{candidato.name}}</h1>
  <div class="panel">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <a href="#">
          <img class="img-responsive img-rounded center-block" ng-src="images/candidatos/{{candidato.image}}" alt="{{candidato.name}}">
        </a>
        <hr>
        <div class="panel" ng-show="candidato.twitter">
          <a class="btn btn-block btn-social btn-twitter" href="http://twitter.com/{{candidato.twitter}}" >
            <i class="fa fa-twitter"></i>@{{candidato.twitter}}
          </a>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p ng-repeat="parrafo in candidato.bio">{{parrafo}}</p>
      </div>
    </div>
  </div>
</div>




