<div class="page-header">
  <h1>21 Compromisos</h1>
</div>
<p class="lead">Compromisos adquiridos con la ciudadanía</p>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">1. Auditoría ciudadana de la deuda municipal</h3>
  </div>
  <div class="panel-body">
    <p>La alteración de la normalidad democrática y la utilización de las instituciones para atender a intereses particulares por encima del bien común, ha permitido la privatización de los beneficios y la socialización de las pérdidas allanando el terreno para justificar el pago de la deuda por encima de la justa prestación de los servicios públicos. Por ello, es nuestra responsabilidad desarrollar las herramientas y mecanismos para hacerla visible.</p>
    <p>La auditoría ciudadana de la deuda municipal no es una herramienta nueva. De hecho, ha sido aplicada ya en otros países, y también en diferentes municipios de nuestro Estado. Será responsabilidad del Ayuntamiento de cooperar y confluir con las iniciativas ya existentes para la consecución de estas auditorías, compartiendo saberes y fuerzas, o procurando poner en marcha estas iniciativas a través de las redes de cooperación que ya existen o que se deberán poner en funcionamiento.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">2- Política de gasto racional</h3>
  </div>
  <div class="panel-body">
    <p>Política de gasto racional, priorizando la inversión en servicios públicos y políticas activas de empleo. La modificación del Art. 135 de la Constitución, ha permitido darle legalidad al austericidio basado en los recortes de los pilares del Estado de Bienestar.</p>
    <p>Frente a la austeridad, proponemos un uso racional de todos los recursos municipales, que tenga como objetivo priorizar y optimizar los actuales servicios públicos, verificando con usuarios y profesionales su idoneidad, y posibilidad de mejora.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">3. Reducción salarial de los cargos electos. </h3>
  </div>
  <div class="panel-body">
    <p>Proponemos una reducción de las retribuciones del Alcalde y los Concejales. Sus sueldos solo se podrá modificar al alza con el consentimiento de la ciudadanía.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">4. Adjudicación de los contratos de las Administraciones Públicas. </h3>
  </div>
  <div class="panel-body">
    <p>Todos los contratos se adjudicarán respetando siempre los principios de igualdad, transparencia, confidencialidad y anuncio previo contemplados en la LEY 30/2007, de 30 de octubre, DE CONTRATOS DEL SECTOR PÚBLICO.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">5. Pago a Proveedores.  </h3>
  </div>
  <div class="panel-body">
    <p>El Real Decreto Ley 8/2013, de 28 de Junio, establece que el plazo máximo de pago a proveedores por parte de la Administración será de 30 días. El compromiso del Ayuntamiento será reducir el plazo de pago a proveedores que  actualmente es superior al que fija la normativa. </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">6. Urbanismo.</h3>
  </div>
  <div class="panel-body">
    <p>Plan integral para la eliminación de barreras arquitectónicas, señalización correcta del vial público y pavimentación de las calles y caminos rurales que estén en peor estado.</p>
    <p>Así como ACONDICIONAMIENTO Y el EMBELLECIMIENTO de las principales entradas al pueblo teniendo en cuenta su gran afluencia no solo peatonal sino de tráfico rodado evitando con ello impacto visual de suciedad.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">7. Obras Públicas.</h3>
  </div>
  <div class="panel-body">
    <p>Instituciones no electas bajo ningún medio democrático, como la Diputación de Valencia, intentan alterar los procesos democráticos municipales, mediante grandes subvenciones y “pelotazos urbanísticos”, como las obras en l' Albereda (Plaza España), mientras el pueblo ha sufrido una dejadez institucional durante los 3 años y medio del resto de la Legislatura, con la clara intención de confundir a la gente democráticamente hablando.</p>
    <p>Por tanto y en consecuencia, promoveremos una Ordenanza Municipal, que regule la realización de cualquier obra de carácter “No Urgente” durante los 6 meses anteriores a las Elecciones Municipales, con el fin de evitar la tentación política de aprovechar el Ayuntamiento para sacar crédito electoral.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">8. Empleo Público</h3>
  </div>
  <div class="panel-body">
    <p>Promoveremos la creación de una bolsa de empleo municipal, para dinamizar el reparto de empleo temporal y estacionario entre las personas paradas y las empresas de Foios, con la finalidad de democratizar la adquisición de puestos de trabajo entre l@s ciudadan@s de Foios.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">9. Presupuestos participativos.</h3>
  </div>
  <div class="panel-body">
    <p>Tiene como principal objetivo la colaboración directa de la ciudadanía en este proceso, con el fin de establecer las principales demandas y preocupaciones de l@s vecin@s en materia generalmente de gastos (actividades, inversiones públicas...) e incluirlos en el presupuesto anual de la población, priorizando los más importantes y realizando un seguimiento de los compromisos alcanzados. A su vez, haremos una revisión de la carga Impositiva previa consulta a la Ciudadanía.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">10. Auditoria de los contratos de suministros y proveedores, que se revisarán a vencimiento, serán públicos y, dependiendo de su cuantía e importancia, consensuados con l@s ciudadan@s.</h3>
  </div>
  <div class="panel-body">
    <p>El principal aporte de los Presupuestos Participativos es el asentamiento de la idea de una ciudadanía activa, haciendo partícipe al vecino y vecina. Entender, en definitiva, la gestión pública como algo que tiene que ver con nuestras vidas, y que podemos no solo participar, sino también decidir sobre estos asuntos públicos.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">11. Asociaciones y actividades culturales.</h3>
  </div>
  <div class="panel-body">
    <p>El mecenazgo municipal en diferentes actividades culturales y para asociaciones, debe concretarse de modo normativo y con el consenso de todos los actores implicados.</p>
    <p>Las ayudas y subvenciones a las diferentes asociaciones, deben huir del populismo y las dádivas electoralistas en las que se transforman en la mayoría de las ocasiones.</p>
    <p>Ayuntamiento y asociaciones en un foro de encuentro, debatirán como darle forma de norma municipal a este capítulo económico, de suma importancia, ya que defender el asociacionismo y la cultura es compromiso necesario para lograr la cohesión e integración de todas las sensibilidades sociales.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">12. Barrios.</h3>
  </div>
  <div class="panel-body">
    <p>Teniendo en cuenta que debido a su localización geográfica pueden tener mas dificultades que otr@s vecin@s, crearemos la figura de un Delegado, con la finalidad de que esta persona recoja sus demandas y las traslade al equipo de gobierno del Ayuntamiento, quien a su vez, se comprometerá a estudiarlas.</p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">13. Comunicación y Transparencia.</h3>
  </div>
  <div class="panel-body">
    <p>Aumentaremos la frecuencia de los Plenos Municipales.</p>
    <p>Bando municipal. La información difundida por el Ayuntamiento ha de llegar a todos y cada uno de l@s ciudadan@s de Foios, por eso, este servicio público ha de ser de mejor calidad con la finalidad de que sea audible en todas las partes del municipio.</p>
    <p>Web del Ayuntamiento. Fomentaremos el funcionamiento de la página web del Ayuntamiento como verdadera oficina institucional en línea. Por ello, es una obligación que la pagina web del Ayuntamiento sea realmente operativa, permitiendo al/la ciudadano/a estar permanentemente informado/a de la actividad municipal, del calendario de actividades, así como las gestiones propias de la Institución local y para una mayor difusión nos adheriremos a la APP “Ayuntamientos de Valencia”.</p>
    <p>Se creará un Buzón tanto físico como virtual para que l@s ciudadan@s puedan   hacer llegar al Ayuntamiento necesidades del Pueblo. </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">14. Ahorro energético.</h3>
  </div>
  <div class="panel-body">
    <p>La eficiencia en el consumo energético en todas las dependencias municipales será una prioridad, con el fin de conseguirla seguiremos las líneas básicas de actuación de fundaciones tales como www.fundacionrenovables.org y su propuesta Ciudades con Futuro, cuyo fin es alcanzar</p>
    <p>Municipios más sostenibles energéticamente, con mayor calidad de vida y para una creciente población urbana, así como un menor uso de recursos, en particular energéticos, y una menor degradación ambiental.</p>
    <p>Municipios con emisiones cero y energéticamente eficientes en base a Fuentes de Energía Renovables. </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">15. Seguridad Ciudadana.</h3>
  </div>
  <div class="panel-body">
    <p>Aumentaremos la presencia policial en todas las zonas del municipio de Foios, en especial por las noches. </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">16. Medio ambiente.</h3>
  </div>
  <div class="panel-body">
    <p>Consideramos necesario centrarnos en la Agenda 21. Un programa para desarrollar la sostenibilidad a nivel local, abarcando temas económicos, sociales y culturales, así como todo lo relativo a la protección del medio ambiente. Este programa anima a todas las comunidades locales a crear su propia versión de Agenda 21 LOCAL.</p>
    <p>Los objetivos principales son los siguientes:</p>
    <ul>
      <li>Promover una toma de conciencia. </li>
      <li>Incentivar la participación social. </li>
      <li>Promover y desarrollar actitudes, valores y comportamientos ambientales. 
Dentro de esta iniciativa, pretendemos incentivar el reciclaje, empezando por descontar en la Tasa de Recogida de Basura y Residuos Urbanos (TRSU) aquello que se recicla a título individual, promoviendo iniciativas como “Mi Cuenta Ambiental”, que funciona mediante una tarjeta de identificación personal, utilizable cada vez que un miembro de la familia va a reciclar al Eco parque o Eco móvil. El/la ciudadano/a va ganando puntos ambientales que se convertirán en descuentos en la tasa por tratamiento de residuos.</li>
    </ul>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">17. Banco de libros de texto y material escolar.</h3>
  </div>
  <div class="panel-body">
    <p>Pondremos en marcha una iniciativa que pretende el intercambio de libros de texto y material escolar en buen estado, con el fin de poder reutilizarlos y favorecer el ahorro en el gasto escolar. </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">18. La Nostra Llengua. Promoció del valencià.</h3>
  </div>
  <div class="panel-body">
    <p>Recolçarem els processos d’immersió i normalització lingüística dels centres educatius i institucions públiques generant activitats lúdiques i educatives per fomentar l'us de la nostra llengua. </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">19. Juventud. </h3>
  </div>
  <div class="panel-body">
    <p>Promoveremos la creación de un Centro de Información Juvenil en Foios para que l@s jóvenes puedan disfrutar de un espacio común, y de este modo sean más participativos y comprometidos. Este CIJ estará dotado de un espacio comunitario donde se lleven a cabo actividades lúdico-educativas, orientación académica, formación para la inserción laboral, recursos telemáticos, entre otras, así como adecuar lugares para el ensayo de grupos musicales y teatrales, entre otros. </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">20. Igualdad de género.  </h3>
  </div>
  <div class="panel-body">
    <p>Elaboraremos y pondremos en marcha un Plan de Acción para la Igualdad entre Mujeres y Hombres, desde la responsabilidad, para abordar de manera efectiva y decidida, con carácter integral, encontrando un equilibrio y fomentar  el respeto para todos los individuos y que se pueda propiciar la igualdad.  </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">21. L@s Mayores.  </h3>
  </div>
  <div class="panel-body">
    <p>Ofreceremos un espacio de aprendizaje basado en temáticas de interés para los mayores, con el objetivo de ayudarles a desarrollar y mejorar sus conocimientos en las nuevas tecnologías: correo electrónico, manejo de la fotografía digital, uso de redes sociales, comercio electrónico, entre otras. </p>
  </div>
</div>