<div class="page-header">
  <h1>Contacto</h1>
</div>
<p>Envíanos tus dudas, cuestiones o sugerencias mediante este formulario.</p>
<form action="//formspree.io/volemfoios@gmail.com"
      method="POST">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="name" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="_replyto" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="email">Mensaje</label>
    <textarea type="textarea" class="form-control" id="mensaje" name="mensaje" placeholder="Mensaje"></textarea>
  </div>
  <input type="hidden" name="_next" value="//volemfoios.es/#gracias" />
  <button type="submit" class="btn btn-default">Enviar</button>
</form>