<div class="page-header">
  <h1>{{'DOCUMENTOS_LOW' | translate}}</h1>
</div>
<div class="row" ng-controller="DocumentosController">
  <div class="panel">
    <table class="table table-stripped ">
      <thead>
        <tr>
          <th>{{'NOMBRE_LOW' | translate}}</th><th>{{'ENLACE_LOW' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{'PROGRAMA_GOBIERNO' | translate}}</td>
          <td ng-show="language == 'es'"><a href="/docs/programa_gobierno_es.pdf" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
          <td ng-show="language == 'va'"><a href="/docs/programa_gobierno_va.pdf" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>{{'GASTOS' | translate}}</td>
          <td><a href="/docs/contabilidad.pdf" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        <tr>
          <td>{{'GASTOS_EXCEL' | translate}}</td>
          <td><a href="/docs/contabilidad.xlsx" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta Constituyente</td>
          <td><a href="/docs/acta00001.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 2ª</td>
          <td><a href="/docs/acta00002.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 3ª</td>
          <td><a href="/docs/acta00003.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 4ª</td>
          <td><a href="/docs/acta00004.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 5ª</td>
          <td><a href="/docs/acta00005.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 6ª</td>
          <td><a href="/docs/acta00006.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 7ª</td>
          <td><a href="/docs/acta00007.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 8ª</td>
          <td><a href="/docs/acta00008.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 9ª</td>
          <td><a href="/docs/acta00009.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 10ª</td>
          <td><a href="/docs/acta00010.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 11ª</td>
          <td><a href="/docs/acta00011.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 12ª</td>
          <td><a href="/docs/acta00012.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 13ª</td>
          <td><a href="/docs/acta00013.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 14ª</td>
          <td><a href="/docs/acta00014.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 15ª</td>
          <td><a href="/docs/acta00015.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 16ª</td>
          <td><a href="/docs/acta00016.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
        <tr>
          <td>Acta 17ª</td>
          <td><a href="/docs/acta00017.doc" class="btn btn-default pull-right" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> {{'ABRIR' | translate}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>