<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/logo.jpg" alt="...">
      <div class="caption">
        <h3>Una persona</h3>
        <p>Bio corta</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/logo.jpg" alt="...">
      <div class="caption">
        <h3>Una persona</h3>
        <p>Bio corta</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/logo.jpg" alt="...">
      <div class="caption">
        <h3>Una persona</h3>
        <p>Bio corta</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/logo.jpg" alt="...">
      <div class="caption">
        <h3>Una persona</h3>
        <p>Bio corta</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/logo.jpg" alt="...">
      <div class="caption">
        <h3>Una persona</h3>
        <p>Bio corta</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/logo.jpg" alt="...">
      <div class="caption">
        <h3>Una persona</h3>
        <p>Bio corta</p>
      </div>
    </div>
  </div>
</div>